<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="/static/css/screen.css" />
        <title>Moter</title>
    </head>
    <body>
        <div id="container">
            <header>Enter your remote code</header>
            <div id="pairing_pin">
              <form action="/raas/join/" method="post">
                <input class="remote_code" type="tel" required="true" name="code1" id="code1" maxlength="1">
                <input class="remote_code" type="tel" required="true" name="code2" id="code2" maxlength="1">
                <input class="remote_code" type="tel" required="true" name="code3" id="code3" maxlength="1">
                <input class="remote_code" type="tel" required="true" name="code4" id="code4" maxlength="1">
                <input type="submit" value="submit" id="submit">
              </form>
              <script>
                (function() {
                  var age = document.getElementById('code4');
                  age.addEventListener('keyup', function(event) {
                    document.getElementById('submit').click();
                  });
                }());
              </script>
            </div>
          </div>


          <script type="text/javascript" src="/static/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="/static/js/moter.js"></script>
    </body>
</html>
